<mat-card style="width: 100%;">
  <div style = "text-align:center">
  <div style="color: rgb(33, 163, 163);">
    <h1><b> Sistema Integral de carga de Pedidos</b></h1></div></div>
  <button mat-stroked-button color="primary">
    <mat-icon>table_view</mat-icon>
    <a routerLink="/pedidos"> Pedidos</a>
  </button> &nbsp;
  <button mat-stroked-button color="primary">
    <mat-icon>assignment</mat-icon>
    <a routerLink="/productos">Productos</a>
  </button>&nbsp;
  <button mat-stroked-button color="accent">
    <mat-icon>account_box</mat-icon>
    <a routerLink="/clientes">Clientes</a>
  </button>
</mat-card>


<router-outlet></router-outlet>
